*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    background-color: black;
    color:azure
}

.header {
    color: red;
    font-size: 48px;
    text-align: center;  
}

.instructions {
    text-align: center;
    font-size: 24px;
}

.messaging {
    text-align: center;
}

.win-message {
    color: red;
    font-size: 32px;
}

.display {
    padding: 16px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 64px;
}

.score {
    text-align: center;
    font-size: 64px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
    
}

.button {
    font-size: 64px;
    height: 125px;
    width: 125px;
    border: 3px solid red;
    background-color: red;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 20px 1px red;
}

.modal {
    background-color: black;
    color: red;
    padding: 32px;
    max-width: 800px;
    text-align: center;
    font-size: 64px;
    border-radius: 15px;
    position: fixed;
    top: 40%;
    left: 34%;
    
}

.close-modal {
    background-color: black;
    border: 2px solid red;
    color: red;
    margin-left: auto;
    margin-top: 8px;
    padding: 5px;
    width: 100px;
    
}

.close-modal:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px 1px red;
    
}

